<h2>Machine Details</h2> 

<hr/>
  <div>
    <label routerLink="/"><b>Line Name: </b></label> {{lprod.name}}
  </div>
  <div>
    <label ><b>Machine Description: </b></label> {{lprod.description}}
  </div>
  <div>
    <label ><b>Production Line: </b></label> {{lprod.line.name}}
  </div>
  <div>
    <label ><b>Machine Type: </b></label> {{lprod.typemach}}
  </div>
  <div>
    <label ><b>Machine Status: </b></label> {{lprod.status}}
  </div>
  <div>
    <label ><b>FeSe: </b></label> {{lprod.fese}}
  </div>

  <button (click)="linepaudits(lprod.id)" class="btn btn-info" style="margin-left: 10px">Logs History</button>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Machine List</button><br>