<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SAGEM CMS PORTAL</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/lineps" class="nav-link" routerLink="lineps">Manage Lines </a>
        <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/users" class="nav-link" routerLink="users">Manage Users</a>
      
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/machines" class="nav-link" routerLink="machines">Manage Machines</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/lineps" class="nav-link" routerLink="lineps">Manage Lines </a>
     
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/machines" class="nav-link" routerLink="machines">Manage Machines</a>
      </li>
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/machines" class="nav-link" routerLink="machines">Manage Machines</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <div class="content">
   
    <router-outlet></router-outlet>
  </div>
</div>