<h2>Machine Audit Logs</h2> 

<div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Machine Name</th>
          <th>Description</th>
          <th>Audit Author</th>
          <th>Audit Date</th>
          <th>Audit type</th>
          <th>Input/Output </th>
          <th>Status</th>
          <th>Line id</th>
          <th>Machine type</th>




        

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of lineaud ">
          <td>{{line.name}}</td>
          <td>{{line.description}}</td>
          <td>{{line.revisionauthor}}</td>
          <td>{{line.revisiondate}}</td>
          <td>{{line.revtype | revType}}</td>
          <td>{{line.fese}}</td>
          <td>{{line.status}}</td>
          <td>{{line.line_id}}</td>
          <td>{{line.typemach}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>