<h2>Machine Audit Logs</h2> 

<div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Machine Name</th>
          <th>Description</th>
          <th>Audit Author</th>
          <th>Audit Date</th>
          <th>Audit type</th>
          <th>Input/Output </th>
          <th>Status</th>
          <th>Line Number</th>
          <th>Machine type</th>
          <th>Allocated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mAud of machaud ">
          <td>{{mAud.name}}</td>
          <td>{{mAud.description}}</td>
          <td>{{mAud.revisionauthor}}</td>
          <td>{{mAud.revisiondate}}</td>
          <td>{{mAud.revtype | revType}}</td>
          <td>{{mAud.fese}}</td>
          <td>{{mAud.status}}</td>
          <td>{{mAud.line}}</td>
          <td>{{mAud.typemach}}</td>
          <td>{{mAud.allocated}}</td>
        </tr>
      </tbody>
    </table>
  </div>